# Build artifacts
*.o
*.a
*.so
*.iso

go.mod
# binary files

# ISO build output
Lainux-iso/

lainux-vm.qcow2

# others
go.mod
ROADMAP.md
dev.md
build.sh
test.c
test.sh

# Driver build
src/lainux-driver/src/lainux
src/lainux-driver/diag/
src/lainux-driver/src/header/

# Temporary files
*~
.*.swp
.DS_Store

# Logs and caches
*.log
